.jumbotron-heading{
    color: white;
}

.btn.btn-light{
    margin: 1.75rem;
    margin-top: 0;
    font-size: 1.375rem;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}

.card-title, .price{
    font-size: 1.375rem;
    color: grey;
    font-weight: bold;
}
