<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>


<body>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card border-light mb-3 md-offset-3" style="max-width: 60rem;">
            <div class="card-header">What is this service?</div>
            <div class="card-body">
                <h5 class="card-title">The problem</h5>
                <p class="card-text">Children grows very quickly, and parents get to buy a lot of new clothes often even before the clothes are worn out.  </p>
                <h5 class="card-title">The solution</h5>
                <p class="card-text">We offer subscription service for childrens clothes. We believe that sustainability, cost consciousness and circularity is important for our wallet as well as our planet. We want to offer our customers a new sustainable shopping experience that not only minimize the environmental impact but at the same time creates more time to experience the important things in life.</p>
            </div>
        </div>
        <div class="card border-light mb-3 md-offset-3" style="max-width: 60rem;">
            <div class="card-header">How the service works</div>
            <div class="card-body">
                <h5 class="card-title">Step 1</h5>
                <p class="card-text">You browse the service and look at packages/subscription options.</p>
            </div>
        </div>
        <div class="card border-light mb-3 md-offset-3" style="max-width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">Step 2:</h5>
                <p class="card-text">You choose which subscription package(s) you want</p>
            </div>
        </div>
        <div class="card border-light mb-3 md-offset-3" style="max-width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">Step 3:</h5>
                <p class="card-text">You create your your account</p>
            </div>
        </div>
        <div class="card border-light mb-3 md-offset-3" style="max-width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">Step 4:</h5>
                <p class="card-text">You choose which child/children the chosen subscription package(s) should be applied for or add a new child </p>
            </div>
        </div>
        <div class="card border-light mb-3 md-offset-3" style="max-width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">Step 5:</h5>
                <p class="card-text">Continue to checkout/shopping cart view, Choose payment method, Choose delivery method, start subscription</p>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>