<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>h2test</title>
</head>
<body>
<h2>Subscription</h2>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>ageGroup</th>
    </tr>
    <tr th:each="subscription : ${subscriptions}">
        <td th:text="${subscription.id}"></td>
        <td th:text="${subscription.name}"></td>
        <td th:text="${subscription.description}"></td>
        <td th:text="${subscription.ageGroup}"></td>
    </tr>
</table>

<h2>Customer</h2>
<table border="1">
    <tr>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.email}"></td>
    </tr>
</table>
</body>
</html>